.app-header.header-shadow
  .app-header__logo
    .logo-src
    .header__pane.ml-auto
      div
        button.hamburger.close-sidebar-btn.hamburger--elastic(type='button', data-class='closed-sidebar')
          span.hamburger-box
            span.hamburger-inner
  .app-header__mobile-menu
    div
      button.hamburger.hamburger--elastic.mobile-toggle-nav(type='button')
        span.hamburger-box
          span.hamburger-inner
  .app-header__menu
    span
      button.btn-icon.btn-icon-only.btn.btn-primary.btn-sm.mobile-toggle-header-nav(type='button')
        span.btn-icon-wrapper
          i.fa.fa-ellipsis-v.fa-w-6
  .app-header__content
    .app-header-left
      .search-wrapper
        .input-holder
          input.search-input(type='text', placeholder='Type to search')
          button.search-icon
            span
        button.close
      ul.header-menu.nav
        li.nav-item
          a.nav-link(href='/')
            i.nav-link-icon.fa.fa-home(style="font-size: 1.4em")  
            | Home
        li.btn-group.nav-item
          a.nav-link(href='javascript:void(0);')
            i.nav-link-icon.pe-7s-chat(style="font-size: 1.8em")
            | Chat Messenger
        li.dropdown.nav-item
          a.nav-link(href='javascript:void(0);')
            i.nav-link-icon.pe-7s-bell(style="font-size: 1.8em")
            | Notification
            span#Notify
    .app-header-right
      .header-btn-lg.pr-0
        .widget-content.p-0
          .widget-content-wrapper
            .widget-content-left
              .btn-group
                a.p-0.btn(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.rounded-circle(width='42', src='/images/avatars/1.jpg', alt='')
                  i.fa.fa-angle-down.ml-2.opacity-8
                .dropdown-menu.dropdown-menu-right(tabindex='-1', role='menu', aria-hidden='true')
                  button.dropdown-item(type='button', tabindex='0') User Account
                  button.dropdown-item(type='button', tabindex='0') Change Password
                  .dropdown-divider(tabindex='-1')
                  button.dropdown-item(type='button', , onclick="window.location.href='/logout';", tabindex='0') Logout
            .widget-content-left.ml-3.header-user-info
              .widget-heading
                | Alina Mclourd
              .widget-subheading
                | VP People Manager
            .widget-content-right.header-user-info.ml-3
              button.btn-shadow.p-1.btn.btn-primary.btn-sm.show-toastr-example(type='button')
                i.fa.text-white.fa-calendar.pr-1.pl-1
