extends layouts/main-layout.pug

block content 
  .app-main__inner
    .app-page-title
      .page-title-wrapper
        .page-title-heading
          .page-title-icon
            i.pe-7s-cash.icon-gradient.bg-mean-fruit
          div
            | Combo Dashboard
            .page-title-subheading
              | Promotion Combo: BOGO...
        .page-title-actions
          button.btn-shadow.mr-3.btn.btn-dark(type='button', data-toggle='tooltip', title='Analytics Dashboard', data-placement='bottom')
            i.fa.fa-star

block script
  script(type='text/javascript', src="/js/jquery-3.3.1.min.js")
  script(type='text/javascript', src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(type='text/javascript', src="/js/jquery.dataTables.min.js")
  script(type='text/javascript', src="/js/dataTables.select.min.js")

block styles
  link(rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  link(rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css")