input:focus,
select:focus,
button:focus {
  outline: none;
}

.toolbar {
  float: left;
}

.badge-notify {
  color: #fff;
  background-color: #d92550;
}

td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.details td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}
